@import 'mediawiki.skin.variables.less';

.uls-rewrite_preferred-languages {
	width: 45em;

	.uls-rewrite_preferred-languages-field {
		margin-top: 0;
		margin-bottom: @spacing-200;
		width: 100%;
	}

	.uls-rewrite_preferred-languages-help-text {
		display: flex;
		justify-content: space-between;
	}
}
