#uls-current-language-nav { /* @embed */
	background: url('../images/cog-16x16-ltr.png') no-repeat scroll right
		top transparent;
	cursor: pointer;
}

/* From uls-menu, unchanged */
#uls-current-language-nav a {
	color: #0088CC;
}

#uls-current-language-nav h1 {
	font-weight: normal;
	padding-top: 1.25em;
	border: none;
	padding-bottom: 3px;
	font-size: 18pt;
	line-height: 1.25em;
	padding-left: 15px;
	color: #777;
}

#uls-current-language-nav h2 {
	font-size: 16pt;
	line-height: 1.5em;
	padding-left: 6px;
	margin-top: 0;
	margin-bottom: 15px;
	border-bottom: none;
	color: #777;
}

.uls-menu h3 {
	font-size: 14pt;
	line-height: 1.5em;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: none;
}

.language-settings-buttons {
	text-align: right;
}

/* Buttons in the selector panel */
.menu-section {
	color: #777;
	padding: 5px 0 5px 50px;
	border-left: 3px solid transparent;
	display: block;
	font-size: 12pt;
}

.menu-section.active {
	color: black;
	background-color: #F6F6F6;
	border-left-color: #3366BB;
}

button.toggle.button {
	background: #eee;
	color: black;
	cursor: pointer;
	border-top: solid 2px #eaeaea;
	border-left: solid 2px #eaeaea;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	padding: 5px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

button.toggle.button.down {
	background: #bbb;
	border-top: solid 2px #777;
	border-left: solid 2px #777;
	border-bottom: solid 2px #eaeaea;
	border-right: solid 2px #eaeaea;
}

.language-settings-buttons {
	border-top: solid 2px #aaa;
	padding: 10px;
	margin-top: 10px;
}

label.checkbox input[type="checkbox"] {
	padding-left: -20px;
	float: left;
}