.uls-menu.uls-language-actions-dialog {
	min-width: 248px;

	.uls-language-actions-title {
		border-bottom: 1px solid #c8ccd1;
		display: flex;
		align-items: center;
		height: 32px;
		padding: 5px 0;

		.uls-language-actions-close {
			min-width: unset;
			width: 44px;
			background: transparent url( ../images/arrow-previous.svg ) no-repeat center;
		}
	}

	.uls-language-action-items {
		.uls-language-action {
			margin: 0;
			padding: 12px 8px;
			display: block;
		}
	}
}
