/* stylelint-disable selector-no-id */

#uls-settings-block {
	border-top: 1px solid #c9c9c9;
	background: #f8f8f8;
	background: -webkit-gradient( linear, left top, left bottom, from( #fbfbfb ), to( #f0f0f0 ) );
	background: -webkit-linear-gradient( top, #fbfbfb, #f0f0f0 );
	background: -moz-linear-gradient( top, #fbfbfb, #f0f0f0 );
	background: -o-linear-gradient( top, #fbfbfb, #f0f0f0 );
	background: linear-gradient( #fbfbfb, #f0f0f0 );
	padding-left: 10px;
	line-height: 1.2em;
	border-radius: 0 0 5px 5px;
}

#uls-settings-block div.display-settings-block,
#uls-settings-block div.input-settings-block {
	display: inline-block;
	margin: 8px 15px;
	color: #565656;
}

#uls-settings-block div.display-settings-block:hover,
#uls-settings-block div.input-settings-block:hover {
	color: #252525;
}
