#uls-current-language-nav {
	/* @embed */
	background: url('../images/cog-16x16-ltr.png') no-repeat scroll right top transparent;
	cursor: pointer;
}

#language-settings-dialog {
	display: none; /* hidden initially */

	/* XXX pretty random position values, just to make it visible */
	bottom: 100px;
	left: 200px;

	/* From here on - from .uls-menu */
	position: fixed;
	z-index: 1000;
	display: none;
	min-width: 800px; /* changed */
	margin-top: 1px;
	width: 45%;
	/* Styling */
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

/* From uls-menu, unchanged */
#uls-current-language-nav a {
	color: #0088CC;
}
#uls-current-language-nav h1 {
	font-weight: normal;
	padding-top: 1.25em;
	border: none;
	padding-bottom: 3px;
	font-size: 18pt;
	line-height: 1.25em;
	padding-left: 15px;
	color: #777;
}
#uls-current-language-nav h2 {
	font-size: 16pt;
	line-height: 1.5em;
	padding-left: 6px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: none;
	color: #777;
}
.uls-menu h3 {
	font-size: 14pt;
	line-height: 1.5em;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom: none;
}

.language-settings-buttons {
	text-align: right;
}

/* Buttons in the selector panel */
.menu-section {
	color: #777;
	padding: 5px 0 5px 50px;
	border-left: 3px solid transparent;
	display: block;
	font-size: 12pt;
	background: url(http://dl.dropbox.com/u/30377416/i18n/icons/WMF-Agora-Display_settings-grey.png) no-repeat scroll 15px center transparent;
}

.menu-section.active{
	color: black;
	background-color: #F6F6F6;
	border-left-color: #3366BB;
	background-image: url(http://dl.dropbox.com/u/30377416/i18n/icons/WMF-Agora-Display_settings-blue.svg);
}
