div.input-settings-block {
	/* @embed */
	background: transparent url('../images/input.png') no-repeat;
	background-size: 20px auto;
	/* This is only few pixels off from the below */
	background-position: 4.5% 0;
	/* Does not work for RTL
	background-position-x: 15px;
	background-position-y: 5px;
	*/
	color: #252525;
	padding-left: 32px;
	cursor: pointer;
}

.imelabel {
	display: block;
	padding-bottom: 10px;
	font-size: 10pt;
	line-height: 16pt;
}

.imelabel span {
	padding-left: 5px;
}

.imelabel input {
	float: left;
}