div.display-settings-block {
	/* @embed */
	background: transparent url('../images/display.png') left top no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/display.svg');
	background-image: -moz-linear-gradient(transparent, transparent), url('../images/display.svg');
	background-image: linear-gradient(transparent, transparent), url('../images/display.svg');
	background-size: 20px auto;
	color: #252525;
	padding-left: 26px;
	cursor: pointer;
}

.uls-display-settings-tab-switcher {
	text-align: center;
}

.uls-button-group {
	display: inline-block;
	position: relative;
	padding: 0 0 0 0;
	left: -20px;
	z-index: 1;
}

.uls-button-group > button.button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	float: left;
	padding: 8px 10px;
	min-width: 80px;
	margin: 0;
}

.uls-button-group > button.button:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.uls-button-group > button.button:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ext-uls-sub-panel {
	border-top: 1px solid #EEEEEE;
	padding-top: 25px;
	top: -20px;
	position:relative;
	min-height: 150px;
}
.uls-display-settings-font-selectors {
	margin: 5px 0 15px 0;
	border-top: 1px solid #EEEEEE;
}

.uls-font-item {
	border-bottom: 1px solid #EEEEEE;
	background: #FBFBFB;
	margin: 0 ;
	padding: 10px 0;
}

.uls-font-label,
.uls-font-select {
	font-size: 10pt;
}

.uls-font-select {
	min-height: 16pt;
}

.uls-content-fonts:hover,
.uls-ui-fonts:hover {
	background-color: #F6F6F6;
}

.uls-font-label strong {
	color: #252525;
}

.uls-font-label {
	color: #555555;
	font-size: 10pt;
}

.uls-display-settings-anon-label {
	font-weight: bold;
}

#uls-display-settings-anon-log-in-cta {
	font-size: 10pt;
}
