#p-lang .uls-settings-trigger {
	/* @embed */
	background: transparent url('../images/cog-sprite.png') no-repeat right top;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/cog-sprite.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('../images/cog-sprite.svg');
	height: 16px;
	width: 14px;
	float: right;
	cursor: pointer;
}

.skin-vector #p-lang .uls-settings-trigger {
	/* Put it in the middle of the first row of the section title */
	margin-top: 3px;
}

#p-lang .uls-settings-trigger:hover {
	background-position: right -16px;
}
