#more-lang-label {
	color: #8b8989;
	display: block;
	font-size: 12px;
	line-height: 1.2;
	margin: 5px 0;
}

#p-lang .body ul .uls-trigger,
#p-lang .pBody ul .uls-trigger {
	background-image: none;
	padding: 0;
}

.mw-interlanguage-selector {
	cursor: pointer;
	margin: 2px 0;
	padding: 0 8px;
}

.interlanguage-uls-menu:after,
.interlanguage-uls-menu:before {
	right: 100%;
	content: " ";
	position: absolute;
	border: 1px solid black;
}

.interlanguage-uls-menu:after {
	border-color: transparent;
	border-right-color: #FCFCFC;
	border-width: 20px;
	top: 250px;
}

.interlanguage-uls-menu:before {
	border-color: transparent;
	border-right-color: #555555;
	border-width: 20px;
	top: 250px;
}
